<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/stylesheet.css">
        <title >NovelNook</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Irish+Grover&family=Lemon&family=Rancho&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar">
            <a class="logotxt" href="/"><img class="logo" src="logo.png"><span>NOVELNOOK</span></a>
            <div class="search">
                <form class="bar" action="/search" method="POST">
                    <input class="searchEnter" type="text" name="searchVal" placeholder="Search A Review" autocomplete="off">
                    <input type="submit" hidden="true">
                </form>
                <div class="hamburger-icon">
                    <a href="/input"><img class="burger" src="purpmenu.png"></a>
                </div>
            </div>
        </div>
    </body>
    

</html>